<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.360buy.jdMobile</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>openApp.jdMobile</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wxe75a2e68877315fb</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>qqconnect</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent100273020</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.weibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb3677796771</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.360buy.jdlogin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>jdlogin</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>JDUPPay</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>JDUPPay</string>
        </array>
      </dict>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>9.2</string>
    <key>DTSDKName</key>
    <string>iphoneos9.2</string>
    <key>CFBundleName</key>
    <string>京东</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleBlackOpaque</string>
    <key>LSApplicationCategoryType</key>
    <string></string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>京东</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>weixin</string>
      <string>wechat</string>
      <string>sinaweibohd</string>
      <string>sinaweibo</string>
      <string>weibosdk</string>
      <string>weibosdk2.5</string>
      <string>mqqapi</string>
      <string>mqq</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqconnect</string>
      <string>mqqopensdkdataline</string>
      <string>mqqopensdkgrouptribeshare</string>
      <string>mqqopensdkfriend</string>
      <string>mqqopensdkapi</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqzoneopensdk</string>
      <string>wtloginmqq</string>
      <string>wtloginmqq2</string>
      <string>mqqwpa</string>
      <string>mqzone</string>
      <string>mqzonev2</string>
      <string>mqzoneshare</string>
      <string>wtloginqzone</string>
      <string>mqzonewx</string>
      <string>mqzoneopensdkapiV2</string>
      <string>mqzoneopensdkapi19</string>
      <string>mqzoneopensdkapi</string>
      <string>mqzoneopensdk</string>
      <string>openapp.jdebook</string>
      <string>taobao</string>
      <string>tmall</string>
      <string>baidumap</string>
      <string>iMeituan</string>
      <string>baidusso</string>
      <string>uppaysdk</string>
      <string>uppaywallet</string>
      <string>uppayx1</string>
      <string>uppayx2</string>
      <string>uppayx3</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>京东需要获取您的位置信息，以提供更精准的服务</string>
    <key>DTSDKBuild</key>
    <string>13C75</string>
    <key>CFBundleShortVersionString</key>
    <string>42185</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>15D21</string>
    <key>DTPlatformBuild</key>
    <string>13C75</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>7.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>DTXcodeBuild</key>
    <string>7C68</string>
    <key>CFBundleVersion</key>
    <string>5.0.0</string>
    <key>UIAppFonts</key>
    <array>
      <string>Impact.ttf</string>
      <string>SCRYPTII.TTF</string>
      <string>Roboto-Thin.ttf</string>
    </array>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>Default-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>Default</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>Default-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>Default-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.360buy.jdmobile</string>
    <key>DTXcode</key>
    <string>0720</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>JD4iPhone</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
